/* entire skills section */
.SkillsFull {
  height: 100vh;
  width: 100vw;
  background-color: forestgreen;
}
/* entire description section */
.SkillDescrip {
  height: 20vh;
  width: 84vw;
  background-color: darkblue;
  margin-bottom: 5vh;
}
/* description section card*/
.SDCard {
  height: 18vh;
  width: 84vw;
  background-color: lightblue;
}
/* this is the div with the cards in it */
.SCards {
  height: 75vh;
  width: 84vw;
  background-color: black;
}
.CSCard {
  height: 65vh;
  width: 17vw;
  background-color: purple;
}
.JSCard {
  height: 65vh;
  width: 17vw;
  background-color: chocolate;
}
.BackendCard {
  height: 100vh;
  width: 17vw;
  background-color: teal;
  margin-left: 3vw;
}
.OtherCard {
  height: 100vh;
  width: 17vw;
  background-color: crimson;
  margin-left: 3vw;
}
